/*////////////// Fonts //////////////*/

h1 {
	color: rgb(152,173,166);
  font-size: 2em;
	}/* link the web font used for the level 1 heading here */
h2 {
color: rgb(152,173,166);
display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h2{
  font-size: 2em;
}
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
  display: block;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

img {
	width: 100%;
	border: 5px rgb(152,173,166) solid;
}


footer {
display: block;
background: #fff;
}

.images {
	width: 20%;
	height: 30%;
  display: flex;
  flex-direction: row;
}
.section {
  display: block;

}
#press {
    margin-bottom: 20px;
}

/* Write all remaining styles here */
